<div class="row fade-in" *ngIf ="gradeItem">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1 class="g-h1">ตารางผลการเรียน</h1>
            </div>
        </div>
        <div class="row">
            <div class="col g-tabel-1">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ปีการศึกษา</th>
                            <th scope="col">ภาค</th>
                            <th scope="col">รหัสวิชา</th>
                            <th scope="col">ชื่อวิชา</th>
                            <th scope="col">หน่วยกิต</th>
                            <th scope="col">เกรดที่ได้</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of gradeItem1| async">
                            <td>{{item.data.year}}</td>
                            <td>{{item.data.semester}}</td>
                            <td>{{item.data.courseCode}}</td>
                            <td>{{item.data.courseTitle}}</td>
                            <td>{{item.data.credit}}</td>
                            <td>{{item.data.grade}}</td>
                             <td>
                                <button (click)="deleteItem(item.key)" class="btn btn-outline-danger btn-block">ลบ</button>
                            </td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" *ngIf="ckeckCredit()">
            <div class="col"></div>
            <div class="col">   <b>หน่วยกิตทั้งหมดคือ </b>{{totalCredit}} หน่วย</div>
            <div class="col">
                <b>เกรดเฉลี่ยรวมที่ได้คือ </b> {{totalGrade}}
            </div>
        </div>
    </div>
</div>