<div class="container fade-in" *ngIf="LoginStatus1">
  <div class="row">
    <div class="col mainc">
      <h1>ยินดีต้อนรับสู่ระบบคำนวณเกรดออนไลน์</h1>
      <div class="formGroup">
        <button type="button" class="btn btn-primary" (click)="auth()">
          เข้าสู่ระบบด้วย Google
        </button>
      </div>
    </div>
  </div>
</div>

<!---Logined-->
<div class="container fade-in " *ngIf="LoginStatus">
  <div class="row">
    <div class="col mainL">
      <h1>ระบบคำนวณเกรดออนไลน์</h1>
    </div>
  </div>
  <div class="row menu">
    <div class="col">
      <div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="gotoMenu(1)">หน้าแรก</button>
        <button type="button" class="btn btn-secondary" (click)="gotoMenu(2)">คาดคะเนเกรด</button>
        <button type="button" class="btn btn-secondary" disabled><b>ชื่อผู้ใช้งาน : </b>{{Name}}</button>
        <button type="button" class="btn btn-secondary" (click)="Logout()">ออกจากระบบ</button>
      </div>
    </div>
  </div>
  <app-main *ngIf="statusMenu1"></app-main>
  <app-forecast-g  *ngIf="statusMenu2"></app-forecast-g>
</div>