/* You can add global styles to this file, and also import other style files */

body{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}


.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}




@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.mainc{
    margin-top:  25%;
    margin-bottom:  25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mainL{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
}

.menu{
    margin-top: 2%;
}
.Logout{
    text-align: right;
}
.home{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.form1{
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
   
}


#footer-wrap {
    clear: both;
    width: 910px;
    font-size: 95%;
    padding: 20px 0;
    text-align: left;  
  
}
  #footer-wrap a {
    text-decoration: none;
    color: #666666;
    font-weight: bold;
  }
  #footer-wrap a:hover {
    color: #000;  
  }
  #footer-wrap p {
    padding: 10px 0;
  }
  #footer-wrap h2 {
    color: #666666;
    margin: 0;
    padding: 0 10px; 
  }
  
  /* footer */
  #footer {
    clear: both;
    margin: 0 auto 10px auto; 
    width: 850px;
    padding: 5px 0;
    text-align: center;
  }

  .fa {
    padding: 20px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  